@font-face {
    font-family: "sofiapro-light";
    src: url("./Fonts/sofiapro-light.otf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "sofiapro-light",sans-serif;
    box-sizing: border-box;
}

header nav{
    padding: 10px;
    z-index:2;
}


.image{
    width:35%;
    height:100%;
    background-image: url("./Login-picture.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container{
    width:55vw;
    height:70vh;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    box-shadow:0px 0px 30px 3px rgba(128, 128, 128, 0.377);
    border-radius: 10px;
}

p{
    font-weight:800;
    font-size: large;
}

input[type="email"],input[type="password"]{
    width: 14rem;
    height:2.5rem;
    padding: 12px;
    border-radius:8px;
    font-weight:bold;
    border: none;
    background-color: #ecc9c377;
    backdrop-filter:blur(30px);
    position:relative;
}

.credentials{
    width:65%;
    height:100%;
    background-color: rgba(245, 245, 245, 0.537);
    backdrop-filter:blur(30px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: large;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.details{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

button{
    width: 14rem;
    height: 2.5rem;
    border-radius:2px;
    border:none;
    background-color:#333333;
    font-weight:300;
    font-size:medium;
    color:white;
    position: relative;
    top:3px;
}

form{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

button:hover{
    background-color:#ecc9c377;
    color:#e15477;
}

a{
    text-decoration: none;
    color:#e15477;
}

.user-email,.user-password{
    width:50%;
    height:22%;
}

